.container{
    background-color: #B8DBD9;
    margin-left: 0%;
    width: 15%;
    height: 100vh;
    margin-top: 8;
    position: fixed;
    display: inline-block;
    padding: 0%;

}

.logo1{
    margin-top: 5%;
    margin-bottom: 15%;
    margin-right: -5%;
}
.container1{
    margin-left: 15%;
    margin-top: .5%;
}
.container2{
    margin-left: 15%;
}
a:hover  {
    background-color: rgb(153, 153, 153);
  }
a{
    margin-right: 50px;
    color: black;
}
.product{
    height: 50px;
    padding-top: 15px;
}
.nav-add {
    position: absolute;
    margin-top: -15px;
}
.nav-save {
    position: absolute;
    margin-top: -15px;
}
.table{
    text-align: center;
    margin-left: 15%;
    width: 85%;
    margin-top: -3%;
}
.container4{
    margin-left: 15%;
    height: 8%;
}
h3{
    margin-right: 85%;
}
.form-inline{
    margin-right: 70%;
}


/* add_prod.php file*/
/* update_prod.php file*/
.table2{
    margin-left: 20%;
    margin-top: 5%;
    width: 40%;
}

.table2 td{
    padding-top: 3%;
}

.containter-fluid .btn-danger{
    margin-top: 4%;
    margin-left: 30%;
}

.containter-fluid .btn-success{
    margin-top: -9%;
    margin-left: 45%;
}
.up_btn{
    position: absolute;
    margin-left: -4%;
}
.dwn_btn{
    position: absolute;
    padding-left: -10%;
}