
form{
    margin-left: 53%;
    margin-top: 5%;
    background-color: #e074c5;
    padding: 50px;
    border-radius: 15px;
    width: 400px;
}
.img-pos{
    float: left;
    height: 450px;
    margin-top: -4%;
    margin-left: -3%;


}
.btn{
    text-align: center;
    width: 200px;
    margin-left: 49px;
}

h4{
    float: left;
    font-weight: bolder;
    font-family:'Courier New', Courier, monospace ;
    margin-left: 5%;
    font-size: 35px;
    margin-top: -9%;
}

body{
    height: 200px;
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(206, 90, 171));
  }