.container{
    background-color: #B8DBD9;
    margin-left: 0%;
    width: 15%;
    height: 100vh;
    margin-top: -8.7%;
    position: fixed;
    display: inline-block;
    padding: 0%;

}

.logo1{
    margin-top: 5%;
    margin-bottom: 15%;
    margin-right: -5%;
}
.container1{
    margin-left: 15%;
}
.container2{
    margin-left: 15%;
    margin-top: -3%;
}
a:hover  {
    background-color: rgb(153, 153, 153);
  }
a{
    margin-right: 50px;
    color: black;
}
.product{
    height: 50px;
    padding-top: 15px;
}
.nav-add {
    position: absolute;
    margin-top: -15px;
}
.nav-save {
    position: absolute;
    margin-top: -15px;
}
.table{
    text-align: center;
    margin-left: 15%;
    width: 85%;
}
